body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #2b4865;
    color: white;
}

img {
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    height: 30rem;
    margin-bottom: 2rem;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    min-width: 340px;
    padding: 5rem 0;
}

.tabs {
    background: #256d85;
    border-radius: 0.5rem;
    grid-template-rows: auto 1fr;
}

.button {
    padding: 1rem 0;
    border: none;
    font-size: 1rem;
    background-color: #8fe3cf;
    cursor: pointer;
    transition: all 0.3s linear;
    letter-spacing: 0.25rem;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.button:nth-child(1) {
    border-top-left-radius: 0.5rem;
}

.button:nth-child(3) {
    border-top-right-radius: 0.5rem;
}

.button:hover:not(.live) {
    background-color: #002b5b;
    color: white;
}

.tabs-content {
    padding: 2rem 1.5rem;
}

@media (min-width: 600px) {
    .image {
        margin-bottom: 0;
    }
    .section-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

.content {
    display: none;
}

.content.live {
    display: block;
}

.button.live {
    background-color: #256d85;
}